@import "src/styles.scss";



// Navbar estilos
.navbar {
  background-color: $PlanoFundo_Cinza;
  .navbar-brand {
    color: $Texto_Branco;
    font-size: 1.5rem;
    font-weight: bold;
    .fa-store {
      color: $Cor_acendente;
    }
  }

  .nav-link {
    color: $Texto_Branco;
    font-size: 1.1rem;
    font-weight: normal;
    &:hover {
      color: $Cor_acendente;
      text-decoration: none;
    }
  }

  .navbar-toggler-icon {
    background-color: $Texto_Branco;
  }

  .navbar-nav {
    .nav-item {
      margin-left: 2.5rem;
    }
  }

  .custom-link {
    color: $Texto_Branco;
    font-size: 1.1rem;
    font-weight: normal;
    &:hover {
      color: $Cor_acendente;
      text-decoration: none;
    }
  }
}

// Adicionando uma cor de fundo ao body
body {
  background-color: $PlanoFundo_Preto;
  color: $Texto_Branco;
}
