@import "src/styles.scss";


.navbar {
  background-color: $Bg_Cinza;
  margin: 0 40px;
  border-radius: 15px;

  .nav-link {
    color: $Font_Branco;
    font-size: 1.2rem;
    &:hover {
      color: $Font_Acendente;
    }
  }

  .navbar-nav {
    .nav-item {
      margin: 0 30px;
    }
  }
}
