@import "src/styles.scss";

// Estilos gerais do header
header {
  font-family: Arial, sans-serif;
  color: $Texto_Branco;
  padding: 10px 40px; // Afastando do topo e laterais da tela

  // Navbar
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px; // Adicionando mais espaço interno
    background-color: $PlanoFundo_Preto;
    border-radius: 10px;

    .navbar-left {
      .navbar-text {
        font-size: 1.5rem;
        font-weight: bold;
        color: $Texto_Branco; // Afastando da borda esquerda
        color: rgb(167, 47, 47);
      }
    }

    .navbar-right {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-right: 20px; // Afastando da borda direita

      .navbar-icon {
        font-size: 1.5rem;
        color: $Texto_Branco;
        transition: color 0.3s ease;

        &:hover {
          color: $Cor_acendente;
        }
      }

      .navbar-link {
        color: $Texto_Branco;
        font-size: 1.5rem;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $Cor_acendente;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    padding: 10px 20px; // Ajustando espaçamento em telas menores
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    width: 100%;
  }

  .navbar-left {
    display: flex;
    justify-content: center; // Centraliza o texto "Meu Site"
    width: 100%; // Garantir que ocupe toda a largura
    margin: 0; // Remover qualquer margem extra
    padding: 0; // Eliminar padding desnecessário
    margin-bottom: 10px; // Espaçamento entre as duas linhas
  }

  .navbar-text {
    margin: 0; // Garantir que o texto "Meu Site" não tenha margem extra
    padding: 0; // Eliminar padding desnecessário
  }

  .navbar-right {
    display: flex;
    justify-content: center; // Centraliza ícone e URL na segunda linha
    align-items: center;
    gap: 15px;
    width: 100%; // Ocupar a largura total
  }
}

