<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo e Texto à Esquerda -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="fa fa-user me-2"></i> <!-- Ícone de usuário -->
      Cadastro de Pessoa
    </a>

    <!-- Links à Direita -->
    <div class="ms-auto d-flex align-items-center">

      <!-- Ícone do GitHub -->
      <a href="https://github.com/Dan1Almeida/Test_Angular" target="_blank" class="me-3">
        <i class="fa fa-github" style="font-size: 1.5rem;"></i>
      </a>
      <!-- Link 'Sobre Nós' -->
      <a class="nav-link custom-link" href="https://github.com/Dan1Almeida">Dan1Almeida</a>
    </div>
  </div>
</nav>
