@import "src/styles.scss";



main {
  margin: 10px 40px 40px 40px;
  padding: 10px 0;
}

.banner {
  div {
    background-color: $Bg_Cinza;
    padding: 20px;
    margin: 10px 40px;
    border-radius: 15px;

    h1 {
      font-family: var(--font-logo);
      color: $Font_Branco;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 10px;
    }

    p {
      margin: 0;
      font-size: 1.5rem;
      text-align: center;
      font-family: var(--font-Corpo);
      color: $Font_Cinza;
    }
  }

  @media (max-width: 768px) {
    div {
      padding: 15px;

      h1 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}
