@import "styles/variables";
@import "styles/button";
@import "styles/cards";

body {
  background-color: $Bg_Default;
}


// --------------- APRESENTAÇÃO -------------

.container-apresentacao {
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 2px solid $Font_Acendente;

  .apresentacao-title {
    color: $Font_Acendente;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .apresentacao-text {
    color: $Font_DescricaoBotao;
    font-size: 1rem;
    font-family: var(--font-Corpo);
    text-align: justify;

  }
}



@media (max-width: 480px) {
  .text-danger{
    font-size: 0.8rem;
  }
}
