@import "src/styles.scss";

.contato{
  font-size: 1.3rem;
  display: block;
  text-align: center;
  width: 100%;

}

.card-container {
  justify-content: center;


  @media (max-width: 960px) {
      padding: 15px;
  }

  @media (max-width: 480px) {

    padding: 10px;
  }
}

.card {
  width: 40%;

  @media (max-width: 760px) {
    width: 80%;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}
