@import "src/styles.scss";


.card-container {
  justify-content: center;


  @media (max-width: 960px) {
      padding: 15px;
  }

  @media (max-width: 480px) {

    padding: 10px;
  }
}

.card {
  width: 40%;

  @media (max-width: 760px) {
    width: 80%;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}


.dropdown-menu {
  background-color: $Bg_Cinza;
  color: $Font_Branco;

  .dropdown-item {
    color: $Font_Branco;

    &:hover {
      background-color: $Font_Acendente;
      color: white;
    }
  }
}
