<table class="table-responsive">
  <thead>
    <tr class="card-header">
      <th>ID</th>
      <th>Nome</th>
      <th>Logradouro</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>UF</th>
      <th>Celular</th>
      <th>Contatos</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas">
      <td>{{ pessoa.id }}</td>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.logradouro }}</td>
      <td>{{ pessoa.bairro }}</td>
      <td>{{ pessoa.cidade }}</td>
      <td>{{ pessoa.uf }}</td>
      <td>{{ obterCelular(pessoa) }}</td>

      <td>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Contatos
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let contato of pessoa.contatos">
              <a class="dropdown-item">{{ contato.contato }}</a>
            </li>
          </ul>
        </div>
      </td>

      <td>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Opções
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="editarPessoa(pessoa.id)">Editar</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="deletarPessoa(pessoa.id)">Excluir</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
