<main>
  <div class="header-container">
    <h2 class="header-title">Introdução</h2>
    <p class="header-text">Este projeto tem como objetivo cadastrar pessoas, utilizando atributos específicos para criar o objeto 'Pessoa'. A partir dessa estrutura, será possível gerenciar o cadastro de contatos, atribuindo-os às respectivas pessoas. Além disso, o sistema permitirá a edição dos dados conforme a necessidade e a visualização de uma lista completa de todas as pessoas cadastradas.</p>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <h3><i class="fa fa-user"></i> - Iniciando</h3>
      </div>
      <div class="card-body">
        <p class="highlight">Como iniciar o projeto?</p>
        <ul>
          <li>Entre na página "Cadastro".</li>
          <br>
          <li>Preencha o formulário.</li>
          <br>
          <li>Confirme a requisição.</li>
        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" routerLink="/pessoas/cadastro">Ir para Cadastro</button>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3><i class="fas fa-cogs"></i> - Tenho que mudar</h3>
      </div>
      <div class="card-body">
        <p class="highlight">Errou ou quer atualizar?</p>
        <ul>
          <li>Entre na página "Edição".</li>
          <br>
          <li>Informe o ID Correspondente.</li>
          <br>
          <li>Atualize os dados.</li>
          <br>
          <li>Confirme a requisição.</li>
        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" routerLink="/pessoas/editar">Ir para Edição</button>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3><i class="fa-solid fa-phone"></i> - Fazendo Contato...</h3>
      </div>
      <div class="card-body">
        <p class="highlight">Já tem pessoa cadastrada?</p>
        <ul>
          <li>Entre na página "Contatos".</li>
          <br>
          <li>Informe o ID Correspondente.</li>
          <br>
          <li>Preencha o formulário.</li>
          <br>
          <li>Confirme a requisição.</li>
        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" routerLink="/contatos/cadastro">Ir para Contatos</button>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3><i class="fa-solid fa-list-ul"></i> - Todo Mundo Aqui</h3>
      </div>
      <div class="card-body">
        <p class="highlight">Quem está cadastrado?</p>
        <ul>
          <li>Entre na página "Listagem".</li>
          <br>
          <li>Encontre todas as pessoas.</li>
          <br>
          <li>Exclua pessoas quando necessário.</li>
        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" routerLink="/pessoas/listar">Ir para Listagem</button>
      </div>
    </div>
  </div>

</main>
