@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300..700&family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Comfortaa:wght@300..700&family=Inconsolata:wght@200..900&family=Roboto+Slab:wght@100..900&display=swap');

// Fonte

:root {
  --font-logo: 'Comfortaa', sans-serif;
  --font-Corpo: "Roboto Slab", serif;
  --font-titulo: 'Open Sans', sans-serif;
  --font-navbar: 'Roboto', sans-serif;
  --font-botao: 'Comfortaa', sans-serif;

}

// Plano de Fundo

$Bg_Cinza: #343a40;
$Bg_Preto: #0D0D0D;
$Bg_Default: #e4e5e5;
$Bg_Branco: #fefefe;

// Cor Texto

$Font_Cinza: #aaa;
$Font_Branco: white;
$Font_Acendente: #007bff;
$Font_Card: #5bc0de;
$Font_DescricaoBotao: #0D3652
