@import "src/styles.scss";


.text-danger{
  font-size: 0.8rem;
}

.card-container {
  justify-content: center;

  @media (max-width: 960px) {
      padding: 15px;
  }

  @media (max-width: 480px) {

    padding: 10px;
  }
}

.card {
  width: 45%;

  @media (max-width: 760px) {
    width: 80%;
  }

  @media (max-width: 480px) {
    width: 100%;
  }

}
