@import "src/styles.scss";


.card-container {
  justify-content: center;
}

.card {
  width: 45%;

  @media (max-width: 760px) {
    width: 80%;
  }

  @media (max-width: 480px) {
    width: 100%;
  }

}
