<main>
  <div class="container-apresentacao">
    <h2 class="apresentacao-title">Listagem de Pessoas</h2>
    <p class="apresentacao-text">
      Abaixo, você encontrará todas as pessoas cadastradas no sistema, com seus respectivos atributos
      e contatos. Cada pessoa possui dois botões de ação: um para direcionar à página de edição e
      outro para excluir a pessoa cadastrada.
    </p>
  </div>

  <div>
    <form [formGroup]="formFiltro" (ngSubmit)="filtrarPessoas()" class="mb-3">
      <div class="row">
        <div class="col-md-5">
          <input type="text" class="form-control" formControlName="nome" placeholder="Filtrar por nome">
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control" formControlName="cidade" placeholder="Filtrar por cidade">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary w-100">Filtrar</button>
        </div>
      </div>
    </form>

    <app-tabela
      [pessoas]="pessoasComCelular"
      (editar)="editarPessoa($event)"
      (deletar)="deletarPessoa($event)">
    </app-tabela>

  </div>
</main>
