<main>


<div class="header-container">
  <h2 class="header-title">Introdução</h2>
  <p class="header-text">Este projeto tem como objetivo, cadastrar pessoas seguindo determinados atributos, assim criando o objeto pessoa e apartir disto conseguir manipular cadasatro de contatos e atribuir a pessoa, podendo também editar conforme necessidade e ainda listar todas pessoas cadastradas</p>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>o</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>t</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>a</td>
    </tr>
  </tbody>
</table>


</main>
