<main>


  <div class="container-apresentacao">
    <h2 class="apresentacao-title">Listagem de Pessoas</h2>
    <p class="apresentacao-text">Abaixo, você encontrará todas as pessoas cadastradas no sistema, com seus respectivos atributos
      e contatos. Cada pessoa possui dois botões de ação: um para direcionar à página de edição e
      outro para excluir a pessoa cadastrada.</p>
  </div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>o</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>t</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>a</td>
    </tr>
  </tbody>
</table>


</main>
