<footer>

  <div class="footer-title">
    <h4>Angular | Java</h4>
  </div>

  <div class="footer-links">
    <a routerLink="">Home</a>
    <a routerLink="/pessoas/cadastro">Cadastro</a>
    <a routerLink="/pessoas/editar">Edição</a>
    <a routerLink="/contatos/cadastro">Contato</a>
    <a routerLink="/pessoas/listar">Lista</a>
  </div>

  <div class="footer-social-icons">

    <a href="https://github.com/Dan1Almeida" target="_blank" class="icon">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://v17.angular.io/guide/setup-local" target="_blank" class="icon">
      <i class="fab fa-angular"></i>
    </a>

    <a href="https://www.java.com" target="_blank" class="icon">
      <i class="fab fa-java"></i>
    </a>

    <a href="https://nodejs.org/en/download" target="_blank" class="icon">
      <i class="fa-brands fa-node-js"></i>
    </a>

  </div>

  <div class="footer-text">
    <p>Daniel Almeida | Fevereiro de 2025.</p>
  </div>
</footer>
